.top1{
    grid-area: top1;
    background: url('../../images/products/modelo-masculino.jpg');
}
.top2{
    grid-area: top2;
    background: url('../../images/products/roxo-verde-grid.jpg');
}
.midL{
    grid-area: midL;
        background: url('../../images/products/modelo-feminina.jpg');
}
.midR{
    grid-area: midR;
    background: url('../../images/products/futurista-grid.jpg');
}
.bottomL{
    grid-area: bottomL;
    background: url('../../images/products/preto-azul-grid.jpg');
}
.bottomR{
    grid-area: bottomR;
    background: url('../../images/products/moderno-grid.jpg');
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 20px;
}
.card{
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-title{
    font-size: 1.25rem;
    color: #ededed;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    color: #ededed;
    margin-bottom: 20px;
}
.cta-group{
    display: flex;
    gap: 10px;
}
@media (max-width: 768px) {
    .grid-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            
            "top1 top1"
            "bottomL bottomL"
            "midL midR"
            "midL bottomR"
            "top2 top2"
            ;
            max-width: 100%;
            gap: 0.625rem;
    }
    .top1{ /*highlight*/
        min-height: 500px;
    }
    .top2{ /*sneker-purple*/
        min-height: 190px;
    }
    .midL{ /*model*/
        min-height: 370px;
    }
    .bottomL{ /*snekers-white*/
        min-height: 190px;
    }
}